.mainCard {
  position: relative;
  margin-top: 150px;
  z-index: 1;
}

.mainCard_titulo {
  color: black;
  text-align: center;
}

.mainCard_titulo h2 {
  font-size: 30px;
  margin-bottom: 20px;
}
.mainCard_titulo p {
  color: black;
  line-height: 30px;
  margin: 0 auto;
}
.mainCard img.hojas_derecha {
  width: 90%;
  height: auto;
  right: 0px;
  top: 20%;
  position: absolute;
}

.banner {
  width: 40%;
  margin: 0 auto !important;
  padding: 1rem;
  background-color: #ffffff93;
  backdrop-filter: blur(10px);
  margin: 0.5rem;
  border-radius: 0.5rem;
}

.banner p {
  width: 100%;
  max-width: 100%;
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
  color: #666e0a;
}

@media screen and (min-width: 1201px) and (max-width: 1300px) {
  .banner {
    width: 70%;
  }
  .mainCard .options {
    margin-top: 10%;
  }
  .MapaSvg {
    height: 100vh;
    & section {
      margin-bottom: 5%;
    }
  }
  .MapaSvgMovil {
    display: none;
  }
}

@media screen and (min-width: 601px) and (max-width: 1200px) {
  .section1 .banner {
    width: 83.333333%;
  }
}

@media screen and (max-width: 600px) {
  .mainCard {
    margin-top: 100px;
  }
  .banner {
    font-size: 1.5rem;
    margin: 2.5rem;
  }

  .mainCard_titulo {
    color: black;
    text-align: center;
    top: 25%;
    left: 0%;
    padding: 0 15px;
    transform: translateX(0%);
  }

  .mainCard_titulo h2 {
    font-size: 20px;
    line-height: 30px;
  }

  .mainCard_titulo p {
    color: black;
    font-size: 16px;
    line-height: 22px;
  }
  .hojas_derecha1 {
    width: 100%;
    height: auto;
    right: 0px;
    top: 20%;
    height: auto;
    position: absolute;
  }

  .banner {
    width: 90%;
    top: 7%;
  }

  .banner p {
    line-height: 30px;
  }
}
