@import "./normalizer.css";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

  @property --verdeBg {
    syntax: '<color>';
    inherits: false;
    initial-value: #666e0a;
  }
  
  @property --naranjaBg {
    syntax: '<color>';
    inherits: false;
    initial-value: #f4cb84;
  }

  @property --dorado {
    syntax: '<color>';
    inherits: false;
    initial-value: #c0a46f;
  }

  @property --negroFooter {
    syntax: '<color>';
    inherits: false;
    initial-value: #0e0e0d;
  }

  @property --Playfair {
    syntax: '<font-family>';
    inherits: false;
    initial-value: 'Playfair Display', sans-serif;
  }
  
  @property --Lato {
    syntax: '<font-family>';
    inherits: false;
    initial-value: 'Lato', sans-serif;
  }
